@media (max-width: 991px) {
  .section-intro {
    h2 {
      letter-spacing: 5px;
    }
  }

  header {
    nav {
      display: none;
    }
    .banner {
      .banner-content {
        h1 {
          font-size: 28px;
        }
      }
    }
  }
  .slicknav_menu {
    display: block;
  }
  #testimonial {
    .testimonial-content {
      .testimonial-item {
        display: block;
        text-align: center;
        .client-image {
          text-align: center;
          margin-bottom: 15px;
          img {
            width: 40%;
          }
        }
      }
    }
  }
  footer {
    a {
      font-size: 20px;
      margin: 0 10px;
    }
  }
}

@media (max-width: 767px) {
    header {
        .banner {
          padding-top: 0;
          .banner-content {
            h1 {
              font-size: 28px;
              margin-bottom: 20px;
            }
          }
        }
      }
}